// @import '../migzins/migzins';
@import '../migzins/migzins';
@import '../variables/variables';



#vendor_threeContent {
    .shopAcroding_main {
        position: sticky;
        top: 0;
        left: 0;

        .vendor_acroManu {
            margin-top: 15px;
            margin-bottom: 10px;

            .store {
                color: $primary_color;
            }

            a {
                font-size: 13px;
                color: $secendary_color;
                margin-right: 5px;

                i {
                    font-size: 10px;
                }

                &:hover {
                    color: $primary_color;
                }
            }
        }

        .shopAccrodin {
            .accordion-button::after {
                flex-shrink: 0;
                width: var(--bs-accordion-btn-icon-width);
                height: var(--bs-accordion-btn-icon-width);
                margin-left: auto;
                content: "-";
                background-image: none !important;
                background-repeat: no-repeat;
                background-size: var(--bs-accordion-btn-icon-width);
                transition: var(--bs-accordion-btn-icon-transition);
                font-size: 30px;
                font-weight: 400 !important;
            }

            .accordion-button:not(.collapsed) {
                color: $primary_color;
                background-color: transparent;
                padding: 15px 0 !important;
                box-shadow: none;

            }

            .accordion-item:first-of-type {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                // border-bottom: 1px solid #eee; 
            }

            .accordion-item {
                border: none;

            }

            .accordion-button:focus {
                z-index: 3;
                border-color: transparent;
                box-shadow: none;
            }

            .accordion-button {
                padding: 15px 0;
                font-size: 16px;
                font-weight: 600;
                line-height: 19px;
                border: 0;
                border-radius: 0;
                border-bottom: 1px solid #eee !important;
                position: relative;

                p {
                    position: relative;

                    &::after {
                        position: absolute;
                        content: "";
                        height: 2px;
                        width: 100%;
                        background: $primary_color;
                        bottom: -15px;
                        left: 0;

                    }
                }
            }
        }

        .accordion-body {
            padding: 15px 0;

            .catagoris {
                margin-bottom: 10px;

                li {
                    margin-bottom: 15px;

                    a {
                        font-size: 14px;
                        line-height: 18px;
                        color: $primary_color;

                        &:hover {
                            color: $hover_color;
                        }
                    }
                }
            }

            .shop_price {
                li {
                    margin-bottom: 15px;

                    a {
                        font-size: 14px;
                        line-height: 18px;
                        color: $secendary_color;

                        &:hover {
                            color: $hover_color;
                        }
                    }
                }
            }

            .price_input {
                margin-bottom: 10px;

                input {
                    width: 62px;
                    height: 37px;
                    text-align: center;
                    line-height: 37px;
                    border: 1px solid #999;
                    @include radious_5;
                }

                span {
                    font-size: 20px;

                }

                button {
                    height: 37px;
                    width: 48px;
                    background: $hover_color;
                    border: none;
                    color: #fff;
                    margin-left: 5px;
                    @include radious_5;
                }
            }

            .sho_size {
                span {
                    font-size: 14px;
                    line-height: 18px;
                    margin-bottom: 10px;
                }

                .chekbox {
                    margin-bottom: 10px;
                }
            }

            .vendor_contct {
                input {
                    padding: 10px 15px;
                    width: 100%;
                    border: 1px solid #e1e1e1;
                    font-size: 13px;
                    color: #999;
                    margin-bottom: 10px;
                    outline: none;
                }

                textarea {
                    width: 100%;
                    border: 1px solid #e1e1e1;
                    font-size: 13px;
                    color: #999;
                    padding: 11px 15px;
                    outline: none;

                }

                .vendor_contctButton {
                    a {

                        @include button;
                        padding: 13px 28px !important;
                        margin-top: 15px;
                    }

                }
            }

            .sngleSalling {
                display: flex;
                gap: 10px;
                margin-bottom: 20px;

                .sllingImg {
                    width: 98px;
                }

                .saller_text {
                    width: 150px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    p {
                        font-size: 13px;
                        font-weight: 500;
                        line-height: 15px;
                        color: $primary_color;
                    }

                    h3 {
                        font-size: 16px;
                        font-weight: 600;
                        // line-height: 25px;
                        color: $primary_color;
                    }

                    ul {
                        display: flex;
                        margin-top: 10px;
                        margin-bottom: 8px;

                        li {
                            font-size: 12px;
                            line-height: 12px;
                            color: #f77c29;
                        }
                    }
                }
            }
        }
    }

    // =======vendor_right part satrt=======
    .vendor_right {
        .vendorBanner {
            height: 446px;
            margin-top: 60px;
            @include radious_5;
            position: relative;

            .venBanner_text {
                position: absolute;
                bottom: 0;
                left: 0;
                @include radious_5;
                padding: 50px 40px 50px 50px;
                background: rgba(0, 0, 0, 0.6);
                width: 100%;
                height: 160px;
                .vendorStoreBanner_icon{
                    ul{
                        position: absolute;
                        right: 15px;
                        top: -45px;
                        display: flex;
                        gap: 10px;
                        li{
                            a{
                                font-size: 14px;
                                line-height: 32px;
                                width: 32px;
                                height: 32px;
                                text-align: center;
                                @include radious_5;
                                color: #fff;
                                }
                                &:first-child a{
                                    background-color: #1B4F9B;
                            }
                                &:nth-child(2) a{
                                    background-color: #00ADEF;
                            }
                                &:nth-child(3) a{
                                    background-color: #0073B2;
                            }
                                &:nth-child(4) a{
                                    background-color: #2C567E;
                            }
                                &:nth-child(5) a{
                                    background-color: #CC0001;
                            }
                        }
                    }
                }
                .venstore_img{
                    width: 100px;
                    position: absolute;
                    top: -50px;
                    left: 50%;
                    @include translate_x;
                    img{
                        @include borderRaduos_50;
                    }
                }
                .venText{
                    h2{
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 24px;
                        color: #fff;
                        text-align: center;
                        margin: 20px 0;
                    }
                    ul{
                        display: flex;
                        gap: 10px;
                      li{
                        color: #A0958F;
                        font-size: 12px;
                      }
                    }
                }

                .vendorBanner_icon {
                    ul {
                        display: flex;
                        gap: 10px;
                        margin-top: 30px;

                        li {
                            height: 32px;
                            width: 32px;
                            border: 1px solid #fff;
                            border-radius: 50%;
                            -webkit-border-radius: 50%;
                            -moz-border-radius: 50%;
                            -ms-border-radius: 50%;
                            -o-border-radius: 50%;
                            line-height: 32px;
                            display: flex;
                            justify-content: center;
                            @include time;
                            cursor: pointer;

                            a {
                                i {
                                    font-size: 14px;
                                    color: #fff;
                                    line-height: 32px;
                                }
                            }
                           &:first-child {
                            &:hover{
                                background: #1D4785;
                                border-color: #1D4785;
                            }
                           }
                           &:nth-child(2) {
                            &:hover{
                                background: #B84437;
                                border-color: #B84437;
                            }
                           }
                           &:nth-child(3) {
                            &:hover{
                                background: #0792C8;
                                border-color: #0792C8;
                            }
                           }
                           &:nth-child(4) {
                            &:hover{
                                background: #CF5D0B;
                                border-color: #CF5D0B;
                            }
                           }
                           &:nth-child(5) {
                            &:hover{
                                background: #2B4D6E;
                                border-color: #2B4D6E;
                            }
                           }
                           &:nth-child(6) {
                            &:hover{
                                background: #AB080A;
                                border-color: #AB080A;
                            }
                           }
                        }
                    }

                }
            }
        }
        // =======vendor_products part end=======
        .vendor_products{
            margin-top: 20px;
            h2{
                padding: 19px 15px;
                font-size: 14px;
                font-weight: 600;
                color: $primary_color;
                border: 1px solid #eee;
                @include radious_5;
                margin-bottom: 20px;
            }
            .vendorProducts_item {
                cursor: pointer;
        
                .dep_imgFirst {
                    position: relative;
        
                    &:hover .dep_imgSecend {
                        visibility: hidden;
                        opacity: 0;
                    }
        
                    .dep_imgSecend {
                        position: absolute;
                        top: 0;
                        left: 0;
                        @include timeOne;
        
                    }
        
                    .depert_icon {
                        visibility: visible;
                        opacity: 1;
                        @include time;
        
                        ul {
                            display: flex;
                            @include timeOne;
                            position: absolute;
                            bottom: 0%;
                            left: 50%;
                            @include right_50;
                            background: #fff;
                            @include radious_5;
                            padding: 0 10px;
                            box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.08);
                            visibility: hidden;
                            opacity: 0;
        
        
                            li {
                                a {
                                    font-size: 16px;
                                    height: 40px;
                                    width: 36px;
                                    color: #999;
                                    background: #fff;
                                    text-align: center;
                                    line-height: 40px;
                                    // border-radius: 50%;
                                    // -webkit-border-radius: 50%;
                                    // -moz-border-radius: 50%;
                                    // -ms-border-radius: 50%;
                                    // -o-border-radius: 50%;
                                    @include time;
        
                                    &:hover {
        
                                        color: $hover_color;
                                    }
                                }
                            }
                        }
                    }
        
        
                }
        
                .dep_text {
                    text-align: center;
                    padding: 15px 20px 20px;
        
                    h5 {
                        font-size: 11px;
                        line-height: 11px;
                        color: #999;
                        margin-bottom: 5px;
                    }
        
                    p {
                        font-size: 13px;
                        font-weight: 500;
                        line-height: 15px;
                        color: $primary_color;
                    }
        
                    ul {
                        justify-content: center;
                        display: flex;
                        margin-top: 10px;
                        margin-bottom: 10px;
        
                        li {
                            font-size: 12px;
                            line-height: 12px;
                            color: #f77c29;
        
                            &:nth-child(4) {
                                color: #D8D8D8;
                            }
        
                            &:nth-child(5) {
                                color: #D8D8D8;
                            }
        
                            span {
                                color: #999;
                                margin-left: 10px;
                            }
                        }
                    }
        
                    h3 {
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 25px;
                        color: $primary_color;
                    }
        
                    .secend_star {
                        li {
                            &:nth-child(4) {
                                color: #f77c29 !important;
                            }
                        }
        
                    }
        
                    .five_star {
                        li {
                            color: #f77c29 !important;
                        }
        
                    }
                }
        
                &:hover .depert_icon ul {
                    visibility: visible;
                    opacity: 1;
                    bottom: 7%;
                }
        
            }
        
            .shopItem_wrapper {
                border-bottom: 1px solid #eee;
            }
        }
        // =======vendor_products part end=======
    }

    // =======vendor_right part end=======
}